// Настройки контейнера ->
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1420px
);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1420px;

$scrollbar-width: 6px;

// <- Настройки контейнера

// Настройки цвета ->

$white:    #ffffff ;
$gray-100: #F6F8FB ;
$gray-200: #E5E7EB ;
$gray-300: #dee2e6;
$gray-400: #ecf0f1;
$gray-500: #bdc3c7;
$gray-600: #95a5a6;
$gray-700: #7f8c8d;
$gray-800: #2c3e50;
$gray-900: #34495e;
$gray-1000: #090909;
$black: #000      ;


$blue: #2980b9   ;
$indigo: #9b59b6 ;
$purple: #8e44ad ;
$pink: #e83e8c   ;
$red: #c0392b    ;
$orange: #f39c12 ;
$yellow: #f1c40f ;
$green: #27ae60  ;
$teal: #16a085   ;
$cyan: #1abc9c   ;

$primary:       $orange  ;
$secondary:     $cyan    ;
$success:       $green   ;
$warning:       $orange  ;
$danger:        $red     ;
$light:         $gray-300;
$dark:          $gray-1000;
$lightgray:     $gray-100;
$themecolor:    $dark;
$body-bg: $gray-1000;
$body-color: $white;

// <- Настройки цвета

// Настройки шрифта ->

$font-family-sans-serif: "PT Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-base: 'PlayenSans';

$font-size-base:              18px;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$line-height-base:            1.5;

$h1-font-size: calc(28px + 16 * (100vw / 1440));
$h2-font-size: calc(26px + 14 * (100vw / 1440));
$h3-font-size: calc(24px + 12 * (100vw / 1440));
$h4-font-size: calc(22px + 10 * (100vw / 1440));
$h5-font-size: calc(20px + 8 * (100vw / 1440));
$h6-font-size: calc(18px + 6 * (100vw / 1440));

$headings-line-height: 1.25      ;
$headings-font-weight: 700      ;
$headings-margin-bottom: 16px   ;
$headings-margin-top: 4px   ;
$headings-font-family: 'MahoneSansBold', 'sans-serif';

// <- Настройки шрифта

// Transition
$transition-base:            all .2s ease-in-out;
$transition-timeout:              opacity .2s ease-in-out, transform .2s ease-in-out;
$transition-timeout-sm:           opacity .2s ease-in-out 0.3s, transform .2s ease-in-out 0.3s;
$transition-timeout-md:           opacity .2s ease-in-out 1s, transform .2s ease-in-out 1s;
// <- Transition
